@font-face {
    font-family: 'Ninja Naruto';
    font-style: normal;
    font-weight: normal;
    src: local('Ninja Naruto'), url('njnaruto.woff') format('woff');
    }



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: rgba(250,235,215,0.30);
    font-family: 'Ninja Naruto';
    letter-spacing: 3px;
}

h2 {
    color: #1E1E1E;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
}

.logo {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.navigation {
    margin: auto;
    width: 70%;
    height: 20px;
    padding: 30px;
    margin: 15px;
}

.liens {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.liens a { 
    color: white;
    text-decoration: none;
}

.banniere {
    background: no-repeat center url(pictures/bannière.jpg);
    background-size: cover;
    width: 100%;
    height: 45vh;
    position: relative;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.citation {
    width: 80vh;
    height: 80px;
    position: absolute;
    bottom: 30%;
    right: 30%;
    transform: translate(50%, 50%);
    background-color: bisque;
    color: orangered;
    opacity: 0.70;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
}

.citation p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    font-size: smaller;
}
    

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}

.main-cards {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: space-between;
}

#titre1 {
    width: 90%;
    height: 60px;
    text-align: center;
    padding: 15px;
    background: rgba(215, 108, 9, 0.76);
    border-radius: 25px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

h4 {
    color: orangered;
    letter-spacing: 1em;
    font-weight: 100;
}

.card {
    width: 25%;
    height: 60vh;
    background-color: #1E1E1E;
    border-radius: 25px;
    text-align: center;
}


.papa, .p {
    padding: 10%;
}

.p {
    margin-bottom: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    line-height: 20px;
    color: rgba(250,235,215,1);
}

.title2{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pictures{
    
    width: 90%;
    height: 600px;
    background: rgba(215, 108, 9, 0.76);
    border-radius: 25px;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
}

.linephoto {
    display: flex;
    justify-content: space-around;
}

img {
    width: 20%;
    height: 10%;
    border-radius: 10%;
    padding: 8px;
}

#lastimg {
    width: 20%;
    height: 15%;
    border-radius: 10%;
    padding: 8px;
} 

.see a{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 80px;
    text-decoration: none;
    color: #1E1E1E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

footer {
    width: 100%;
    height: 150px;
    background-color: #1E1E1E;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:absolute;
}

.copy {
    width: 70%;
    padding: auto;
}

.copy p, a {
    color: orangered;
}

a:hover {
    color: blue;
    
}

/* -- début CONTACT -- */

.contentcont {
    width: 100%;
    background: rgba(250,235,215,0.30);
    display: flex;
    justify-content: space-evenly;
    padding-top: 25vh;
    padding-bottom: 25vh;
}

.div1{
    width: 40%;
    height: 60vh;
    background-color:rgba(215, 108, 9, 0.76);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.div2{
    width: 30%;
    height: 60vh;
    background-color:rgba(215, 108, 9, 0.76);
    padding-top: 60px;
    line-height: 30px;
    border-radius: 10px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.conth2{
    font-size: larger;
    letter-spacing: 0,50em;
    text-align: center;
    padding: 25px;
    line-height: 30px;
}

.cont {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1E1E1E;
    
}

#msgsquare, #e-mail {
    width: 50vh;
    height: 13vh;
    background-color: blue;
    margin: 15px;
}

#msg {
    width: 50vh;
    height: 13vh;
    border-radius: 10px;
    margin: 15px;
}

#email {
    width: 50vh;
    height: 5vh;
    border-radius: 10px;
    margin: 15px;
}



#sendbutton {
    width: 9vh;
    height: 2vh;
    background-color:blanchedalmond;
    margin-top: 26px;
    margin-left: 31vh;

}

